<div class="row el-element-overlay">
    <div class="col-md-12">
        <h4 class="card-title">Menú de Lunes a Viernes</h4>
        <h6 class="card-subtitle m-b-20 text-muted">Ingresa el códigot <code>el-2de3p</code> y descubre descuentos!</h6>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="assets/images/h1.jpg" alt="user" />
                    <div class="el-overlay scrl-up">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="assets/images/h1.jpg"><i class="icon-magnifier"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Hamburguesa con Papas</h3> <small>$14.000</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="assets/images/h2.jpg" alt="user" />
                    <div class="el-overlay scrl-up">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="assets/images/h1.jpg"><i class="icon-magnifier"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Hamburguesa con Papas, Gaseosa y Cheesecake</h3> <small>$16.000</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="assets/images/h3.jpg" alt="user" />
                    <div class="el-overlay scrl-up">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="assets/images/h1.jpg"><i class="icon-magnifier"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Hamburgesa Sencilla</h3> <small>$10.200</small>
                    <br/> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> <img src="assets/images/h4.jpg" alt="user" />
                    <div class="el-overlay scrl-up">
                        <ul class="el-info">
                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="assets/images/h1.jpg"><i class="icon-magnifier"></i></a></li>
                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">Hamburguesa Especial</h3> <small>$12.600</small>
                    <br/> </div>
            </div>
        </div>
    </div>
</div>